@{
	ViewData["Title"] = "About";
}

<div style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;font-size:50px; font-weight:100;">
	About Premier League Stadiums...<br />
	_______________________________________
									<br />
	
</div>


<div style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;font-size:30px; font-weight:100;">
	This is application that show every Premier League football stadiums,<br />
	you can see what club play on each stadium, cheapest ticket price<br />
	and biggest stadiums.<br />
</div><br />

<div style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;font-size:15px;">
	The Premier League draws in countless viewers around<br />
	the world every week to soak up the latest live drama.<br />
	<br />
	But while the competition’s popularity continues to spread on a<br />
	global scale, millions of fans continue to pour through the<br />
	turnstiles of their local teams in the UK.<br />
	<br />
	The varied history of English football has meant that its flagship<br />
	competition is brimming with a patchwork web of stadiums – including<br />
	old-school wooden terraces and state-of-the-art super arenas.<br />
</div><br />
<br />
<br />
<div style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;font-size:20px; font-weight:100">
	Marko Vitkovic has rounded up the full list of Premier League stadiums to be used in 2019/20 including those of promoted teams from the Championship.
</div>