@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
	Premier League Stadiums<br />
	57 North Wharf Road<br />
	London<br />
	<abbr title="Phone">P:</abbr>
	+(957) 465-1038
</address>

<address>
    <strong>Support:</strong> <a href="mailto:marko.vitkovic@outlook.com">marko.vitkovic@outlook.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marko.vitkovic@outlook.com">marko.vitkovic@outlook.com</a>
</address>

<div style=" font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif; font-size:1.2rem;">
	Please note: Access to the Premier League office is by appointment only.
</div>
