@model IEnumerable<Stadium_webapp.Models.Stadiums.stadiums>

@{
	ViewData["Title"] = "Index";
}


<div class="flip-card">
	<div class="flip-card-inner">
		<div class="flip-card-front">
			<img src="#" alt="Avatar" style="width:300px;height:300px;">
		</div>
		<div class="flip-card-back">
			@foreach (var item in Model)
				
			{
				@Html.DisplayFor(modelItem => item.Name)<br />
				@Html.DisplayFor(modelItem => item.Capacity )<br />
				@Html.DisplayFor(modelItem => item.TicketPrice) 
			}
		</div>
	</div>
</div>
<div class="flip-card">
	<div class="flip-card-inner">
		<div class="flip-card-front">
			<img src="#" alt="Avatar" style="width:300px;height:300px;">
		</div>
		<div class="flip-card-back">

		</div>
	</div>
</div>
<div class="flip-card">
	<div class="flip-card-inner">
		<div class="flip-card-front">
			<img src="#" alt="Avatar" style="width:300px;height:300px;">
		</div>
		<div class="flip-card-back">

		</div>
	</div>
</div>
<div class="flip-card">
	<div class="flip-card-inner">
		<div class="flip-card-front">
			<img src="#" alt="Avatar" style="width:300px;height:300px;">
		</div>
		<div class="flip-card-back">

		</div>
	</div>
</div>
<div class="flip-card">
	<div class="flip-card-inner">
		<div class="flip-card-front">
			<img src="#" alt="Avatar" style="width:300px;height:300px;">
		</div>
		<div class="flip-card-back">

		</div>
	</div>
</div>
<div class="flip-card">
	<div class="flip-card-inner">
		<div class="flip-card-front">
			<img src="#" alt="Avatar" style="width:300px;height:300px;">
		</div>
		<div class="flip-card-back">

		</div>
	</div>
</div>
<div class="flip-card">
	<div class="flip-card-inner">
		<div class="flip-card-front">
			<img src="#" alt="Avatar" style="width:300px;height:300px;">
		</div>
		<div class="flip-card-back">

		</div>
	</div>
</div>
<div class="flip-card">
	<div class="flip-card-inner">
		<div class="flip-card-front">
			<img src="#" alt="Avatar" style="width:300px;height:300px;">
		</div>
		<div class="flip-card-back">

		</div>
	</div>
</div>
<div class="flip-card">
	<div class="flip-card-inner">
		<div class="flip-card-front">
			<img src="#" alt="Avatar" style="width:300px;height:300px;">
		</div>
		<div class="flip-card-back">

		</div>
	</div>
</div>
<div class="flip-card">
	<div class="flip-card-inner">
		<div class="flip-card-front">
			<img src="#" alt="Avatar" style="width:300px;height:300px;">
		</div>
		<div class="flip-card-back">

		</div>
	</div>
</div>
<div class="flip-card">
	<div class="flip-card-inner">
		<div class="flip-card-front">
			<img src="#" alt="Avatar" style="width:300px;height:300px;">
		</div>
		<div class="flip-card-back">

		</div>
	</div>
</div>
<div class="flip-card">
	<div class="flip-card-inner">
		<div class="flip-card-front">
			<img src="#" alt="Avatar" style="width:300px;height:300px;">
		</div>
		<div class="flip-card-back">

		</div>
	</div>
</div>
<div class="flip-card">
	<div class="flip-card-inner">
		<div class="flip-card-front">
			<img src="#" alt="Avatar" style="width:300px;height:300px;">
		</div>
		<div class="flip-card-back">

		</div>
	</div>
</div>
<div class="flip-card">
	<div class="flip-card-inner">
		<div class="flip-card-front">
			<img src="#" alt="Avatar" style="width:300px;height:300px;">
		</div>
		<div class="flip-card-back">

		</div>
	</div>
</div>
<div class="flip-card">
	<div class="flip-card-inner">
		<div class="flip-card-front">
			<img src="#" alt="Avatar" style="width:300px;height:300px;">
		</div>
		<div class="flip-card-back">

		</div>
	</div>
</div>
<div class="flip-card">
	<div class="flip-card-inner">
		<div class="flip-card-front">
			<img src="#" alt="Avatar" style="width:300px;height:300px;">
		</div>
		<div class="flip-card-back">

		</div>
	</div>
</div>
<div class="flip-card">
	<div class="flip-card-inner">
		<div class="flip-card-front">
			<img src="#" alt="Avatar" style="width:300px;height:300px;">
		</div>
		<div class="flip-card-back">

		</div>
	</div>
</div>
<div class="flip-card">
	<div class="flip-card-inner">
		<div class="flip-card-front">
			<img src="#" alt="Avatar" style="width:300px;height:300px;">
		</div>
		<div class="flip-card-back">

		</div>
	</div>
</div>
<div class="flip-card">
	<div class="flip-card-inner">
		<div class="flip-card-front">
			<img src="#" alt="Avatar" style="width:300px;height:300px;">
		</div>
		<div class="flip-card-back">

		</div>
	</div>
</div>
<div class="flip-card">
	<div class="flip-card-inner">
		<div class="flip-card-front">
			<img src="#" alt="Avatar" style="width:300px;height:300px;">
		</div>
		<div class="flip-card-back">

		</div>
	</div>
</div>
