@model IEnumerable<Stadium_webapp.Models.Stadiums.stadiums>

@{
	ViewData["Title"] = "Index";
}


<div class="card">
	
		<img src="~/images/AnfieldStadium.jpg" alt="Avatar" style="width:100%">
		<div class="container">
			<h4>
				<b>
					@foreach (var item in Model	) 
					{
						@Html.DisplayFor(modelItem => item.Name)
					}
				</b>
			</h4>
			<p>Architect & Engineer</p>
		</div>
</div>
<div class="card" style="width: 18rem;">
	<img class="card-img-top" src="~/images/AnfieldStadium.jpg" alt="Card image cap">
	<div class="card-body">
		<p class="card-text">
			@foreach (var item in Model)
			{
				@Html.DisplayFor(modelItem => item.Name)
			}
			</p>
	</div>
</div>
